body {
  height: 100%;
}

.milestone {
  background-color: green;
}

.appointment {
  background-color: red;
}

.subtask {
  background-color: blue;
}

.task {
  background-color: purple;
}

.daydiv {
  background-color: #eaebef;
  height: 90%;
  width: 100%;
}

.month {
  height: 20%;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.dayTr {
  text-align: center;
  vertical-align: middle;
}

table {
  height: 98%;
  width: 98%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

th {
  background-color: #eaebef;
  border-bottom: 1px solid black;
  border-bottom-width: 50%;
  border-spacing: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

td {
  height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
}

tbody {
  border-left: transparent;
}

.tableDiv {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 15px;
  background-color: #eaebef;
}

div.daydiv p {
  color: black;
  vertical-align: middle;
}

#leftBorder {
  border-left: transparent;
}

#rightBorder {
  border-right: transparent;
}

.limitDiv {
  max-height: 2px;
  overflow: auto;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  background-color: #eaebef;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  z-index: -100;
}

.topBar {
  border-bottom: solid black;
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 100;
}

.leftBar {
  margin-left: 0px;
  margin-top: 20%;
  width: 20%;
  position: absolute;
  height: 100%;
  border-right: solid black;
  z-index: -99;
}

.timeBar {
  height: 4.16%;
  border-bottom: solid black;
  position: relative;
}

.dayEntry {
  margin-left: 50%;
  margin-right: 50%;
  width: 20%;
  height: auto;
  font-size: large;
  z-index: 100;
}

.title {
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 10%;
  font-size: 8vmax;
}