body {
  height: 100%;
  background-color: #5a5c5f;
  overflow: hidden;
}

.milestone {
  background-color: green;
  border-radius: 10px;
}

.appointment {
  background-color: red;
  border-radius: 10px;
}

.subtask {
  background-color: blue;
  border-radius: 10px;
}

.task {
  background-color: purple;
  border-radius: 10px;
}

.daydiv {
  background-color: #eaebef;
  height: 90%;
  width: 100%;
}

.month {
  height: 20%;
  background-color: #eaebef;
}

.dayTr {
  text-align: center;
  vertical-align: middle;
}

table {
  height: 98%;
  width: 98%;
  border-collapse: separate;
  table-layout: fixed;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

th {
  background-color: #eaebef;
  border-bottom: 1px solid black;
  border-bottom-width: 50%;
  border-spacing: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

td {
  height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
}

tbody {
  border-left: transparent;
}

.tableDiv {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

div.daydiv p {
  color: black;
  vertical-align: middle;
}

#leftBorder {
  border-left: transparent;
}

#rightBorder {
  border-right: transparent;
}

.limitDiv {
  max-height: 2px;
  overflow: auto;
}

.dayEntry {
  width: 20%;
  height: auto;
  font-size: large;
  z-index: 100;
  vertical-align: top;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  background-color: #eaebef;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  z-index: -100;
}

.topBar {
  border-bottom: solid black;
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 100;
}

.leftBar {
  margin-left: 0px;
  margin-top: 20%;
  width: 20%;
  position: absolute;
  height: 100%;
  border-right: solid black;
  z-index: -99;
}

.title {
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 8%;
  font-size: 6vmax;
}

.timeBar {
  height: 4.16%;
  border-bottom: solid black;
  position: relative;
}

.tableday {
  display: flex;
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  border-color: thin solid black;
  background-color: #eaebef;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  z-index: -100;
  border-radius: 2%;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
}

.caption {
  border-bottom: solid thin black;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
}

.bl {
  border-left: solid thin black;
}

.insertDay {
  display: flex;
}

.milestonesBackground {
  display: flex;
  z-index: 10;
  background-color: green;
  height: max-content;
  width: max-content;
}

.content {
  z-index: 15;
  color: black;
  vertical-align: middle;
  width: max-content;
}

.anchor {
  vertical-align: top;
  height: 1vh;
  width: max-content;
}

#EditItemView {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  height: 40%;
  width: 20%;
}

iframe {
  height: 100%;
  width: 100%;
}
