body {
  height: 100%;
}

milestone {
  background-color: green;
}

appointment {
  background-color: red;
}

subtask {
  background-color: blue;
}

task {
  background-color: purple;
}

div.daydiv {
  background-color: #EAEBEF;
  border-radius: 5px;
  border: solid   1px;
  height: 100%;
  width: 100%;
}

td {
  height: 100%;
}

div.daydiv p {
  color: black;
}

table {
  height: 100%;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}