body {
  background-image: linear-gradient(#1e2125, #eaebef);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.bg-img {
  width: 100vw;
  height: 100vh;
  background-image: url("../ressources/plannet_logo_lightblue.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 0.8;
}
.backatag {
  height: 10vh;
}
#backImage {
  height: 10vh;
  display: inline-block;
}
#error {
  display: inline-block;
  margin-left: 2vw;
}
.status {
  filter: invert(100%);
}
