body{
  background-color: #5a5c5f;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 1.1vw;
}

h1 {
  font-weight: normal;
  color: #add3f7;
  margin: auto;
  font-size: 2.5vw;
}

h2 {
  font-size: 1.5vw;
}