body {
  background-image: linear-gradient(#1E2125, #EAEBEF);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("/ressources/plannet_logo_lightblue.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

html, body {
  margin: 0;
  height: 100%;
  color: white;
}

input[type="submit"] {
  float: left;
  margin: 3%;
  background-color: #F7BFBF !important;
  margin-top: 5%;
}

h1{
  height: 400px;
  width: 800px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  color: #F7BFBF !important;
  font-size: 160px;
}

div.btn {
  position: relative;
  left: 48%;
  top:15%;
  width: min-content;
}