body {
  background-image: url("/ressources/plannet_logo_lightblue.png"), linear-gradient(#1E2125, #EAEBEF);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html, body {
  margin: 0;
  height: 100%;
  color: white;
}

input[type="submit"] {
  float: left;
  margin: 3%;
}

.background{
  z-index: 0;
}

div.btn {
  position: relative;
  left: 48%;
  width: min-content;
}