body {
  background-image: url("/ressources/plannet_logo_lightblue.png"), linear-gradient(#1E2125, #EAEBEF);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html, body {
  margin: 0;
  height: 100%;
  color: white;
}

input[type="submit"] {
  float: left;
  margin: 3%;
  background-color: #F7BFBF !important;
  border-radius: 25pt;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin-top: 5%;
}

h1{
  position: relative;
  top: 30%;
  color: #F7BFBF !important;
}

div.btn {
  position: absolute;
  left: 48%;
  top:40%;
  width: min-content;
}