body {
  background: linear-gradient(#1E2125, #EAEBEF) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Source Code Pro"
}

input, button {
  background-color: #F7BFBF;
  border-radius: 25pt;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin-top: 5%;
}

input[type="submit"] {
  background-color: #ADD3F7;
  font-family: "Source Code Pro";
  margin: auto;
  width: min-content;
  margin-top: 5%;
  margin-right: 5%;
  float: right;
}

h1 {
  font-family: "Pacifico";
  font-weight: normal;
  color: #ADD3F7;
  width: min-content;
  margin: auto;
}

div.mainView {
  width: 50%;
  padding: 10% 0;
  white-space: nowrap;
  width: min-content;
  margin: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 99%;
}

div.footer-elements {
  float: right;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: blue;
  text-decoration: underline;
}