div.logo img {
  display: flex;
  width: 70%;
}

.logoutIcon {
  position: absolute;
  top: 2%;
  right: 1%;
  height: 5%;
}

.userIcon {
  display: flex;
  position: absolute;
  top: 2%;
  right: 8%;
  height: 5%;
  transition: all 0.25s ease-out;
  filter: invert(0%);
}
#deleteuserimage {
  filter: invert(100%);
  margin: 1vh;
  padding: 0;
  height: 5vh;
}
.userpopup {
  width: min-content;
  height: min-content;
  border-radius: 5px;
  background: #5a5c5f;
  left: 87.7vw;
  top: 8vh;
  z-index: 1000;
  position: fixed;
  transition: all 0.25s ease-out;
  visibility: hidden;
  border: 1px solid #eeeeee;
  opacity: 0;
  box-shadow: 0 0 2px #eeeeee;
}
.userpopup:target {
  visibility: visible;
  opacity: 0.9;
}
.closeuserpopup {
  display: flex;
  position: fixed;
  filter: invert(0);
  top: 2%;
  right: 8%;
  height: 5%;
  transition: all 0.25s ease-out;
  filter: invert(0%);
}
.deleteuser {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  margin: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.deleteuser:target {
  visibility: visible;
  opacity: 0.8;
}
.deleteuserbox {
  width: 50vw;
  height: 20vh;
  margin-left: 25vw;
  margin-top: 40vh;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
}
#deleteusertext {
  color: #333333;
  text-align: center;
  font-weight: 800;
}
#deleteuserbuttons {
  margin-top: 5vh;
  width: 50vw;
}
.deleteuserform {
  display: inline-block;
  width: 22vw;
}
#deleteuserbuttonyes {
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  border: 2px solid gray;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: red;
  color: #efefef;
  margin-left: 18vw;
  width: 4vw;
  cursor: pointer;
}
#deleteuserbuttonno {
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  border: 2px solid gray;
  filter: invert(100%);
  background: #cccccc;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 4vw;
  margin-left: 6vw;
  cursor: pointer;
}
switch {
  display: flex;
  float: left;
  display: inline;
  width: 49%;
}

div.viewToggle {
  position: absolute;
  left: 20%;
}

div.viewToggle * {
  float: left;
  display: inline;
}

div.timeToggle {
  position: absolute;
  top: 3%;
  right: 20%;
  width: 20%;
}

div.timeToggle * {
  display: inline;
}

div.logo {
  float: left;
  display: inline;
  width: 20%;
}

/*Dropdown zu "Meine Kalender"*/
.dropbtn {
  border-radius: 50px;
  margin-top: 5vh;
  cursor: pointer;
}

.dropdown {
  width: min-content;
}

#dropdown-content {
  display: none;
}

button.dropbtn {
  white-space: nowrap;
}

.mycalendars {
  border: none;
}
/*
div.dropdown-content {
  display: none;
  color: white;
}

.dropdown-entry * {
  display: inline;
  margin-bottom: 20%;
}

div.dropdown:hover div.dropdown-content {
  display: inline;
}*/

/*Suchfeld*/

.deletecalendar {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  margin: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.deletecalendar:target {
  opacity: 0.8;
  visibility: visible;
}

#deletecalendarbox {
  width: 50vw;
  height: 20vh;
  margin-left: 25vw;
  margin-top: 40vh;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
}

#deletecalendartext {
  text-align: center;
  font-weight: 800;
}
#deletecalendarcalendarname {
  display: inline-block;
}
#deletecalendarbuttons {
  margin-top: 5vh;
  width: 50vw;
}
.deletecalendarform {
  display: inline-block;
  width: 22vw;
}
#deletecalendarbuttonyes {
  margin-left: 18vw;
  width: 4vw;
  cursor: pointer;
}
#deletecalendarbuttonno {
  width: 4vw;
  margin-left: 6vw;
  cursor: pointer;
}

.createitem {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  margin: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.createitem:target {
  opacity: 0.8;
  visibility: visible;
}

#createitembox {
  width: 50vw;
  height: 30vh;
  margin-left: 25vw;
  margin-top: 40vh;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
}

#createitemtext {
  text-align: center;
  font-weight: 800;
}
#createitemfields {
  margin-top: 5vh;
  width: 50vw;
}
.createitemform {
  width: 50vw;
}
#createitemattributes {
  display: inline-block;
  margin-left: 4vw;
}
#createitemtyp {
  font-size: 0.6vw;
}
#createiteminputtyp {
  font-size: 0.6vw;
}
#createitemname {
  margin-top: 1vh;
  font-size: 0.6vw;
}
#createitemdatef {
  margin-top: 1vh;
  font-size: 0.6vw;
}
#createitemdatet {
  margin-top: 1vh;
  font-size: 0.6vw;
}
#createitemtimef {
  margin-top: 1vh;
  font-size: 0.6vw;
}
#createitemtimet {
  margin-top: 1vh;
  font-size: 0.6vw;
}
#createitemdesc {
  display: inline-block;
  font-size: 0.6vw;
  margin-left: 4vw;
}
#createitemdesclabel {
  vertical-align: top;
}
#createitembuttons {
  display: inline-block;
  margin-left: 4vw;
  width: 5vw;
  vertical-align: top;
  margin-top: 5vh;
}
#createitembuttonyes {
  width: 4vw;
  cursor: pointer;
}
#createitembuttonno {
  width: 4vw;
  cursor: pointer;
  background-color: #add3f7;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  border-radius: 25pt;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  filter: invert(100%);
}

.sharecalendar {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  margin: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.sharecalendar:target {
  opacity: 0.8;
  visibility: visible;
}

#sharecalendarbox {
  width: 50vw;
  height: 20vh;
  margin-left: 25vw;
  margin-top: 40vh;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
}

#sharecalendartext {
  text-align: center;
  font-weight: 800;
}
#sharecalendarcalendarname {
  display: inline-block;
}
#sharecalendarbuttons {
  margin-top: 5vh;
  width: 50vw;
}
.sharecalendarform {
  display: inline-block;
  width: 24vw;
  margin-left: 14vw;
}
#sharecalendarcalnamelabel {
  display: none;
}
#sharecalendartextbox {
  margin-left: 0;
  width: 4vw;
  background-color: #add3f7;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  border-radius: 25pt;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  font-size: 0.6vw;
}
.sharecalendardropdown {
  font-size: 0.6vw;
  width: 6vw;
  background-color: #add3f7;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  border-radius: 25pt;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin-left: 4vw;
}
#sharecalendarbuttonyes {
  width: 4vw;
  margin-left: 4vw;
  cursor: pointer;
  font-size: 0.6vw;
}
#sharecalendarbuttonbackdiv {
  margin-top: 3vh;
  text-align: center;
}
#sharecalendarbuttonback {
  width: 4vw;
  cursor: pointer;
  font-size: 0.6vw;
  filter: invert(100%);
}

.search p {
  display: flex;
}

.search input {
  display: flex;
  border: solid black 1px;
  border-radius: 50px;
  max-width: 10vw;
}

.add a {
  display: flex;
  margin-left: 0, 5%;
}

iframe.calendarView {
  width: 82%;
  height: 85%;
  position: absolute;
  top: 9%;
  left: 15%;
  border: 0px transparent;
}

/* The switch - the box around the slider */
.switch {
  display: flex;
  top: 0.8vw;
  position: relative;
  display: inline-block;
  width: 3.5vw;
  height: 2vw;
}

/* Hide default HTML checkbox */
.switch input {
  display: flex;
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  display: flex;
  position: absolute;
  content: "";
  height: 1.2vw;
  width: 1.2vw;
  left: 0.4vw;
  bottom: 0.4vw;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  display: flex;
  background-color: #f7bfbf;
}

input:focus + .slider {
  display: flex;
  box-shadow: 0 0 1px #f7bfbf;
}

input:checked + .slider:before {
  display: flex;
  -webkit-transform: translateX(1.6vw);
  -ms-transform: translateX(1.6vw);
  transform: translateX(1.6vw);
}

/* Rounded sliders */
.slider.round {
  display: flex;
  border-radius: 3.4vw;
}

.slider.round:before {
  display: flex;
  border-radius: 50%;
}

/*crazy rgb buttons*/
.goback {
  width: 60px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.goback:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.goback:active {
  color: rgb(255, 253, 253);
}

.goback:active:after {
  background: transparent;
}

.goback:hover:before {
  opacity: 1;
}

.goback:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.goForward {
  width: 60px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.goForward:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.goForward:active {
  color: rgb(255, 253, 253);
}

.goForward:active:after {
  background: transparent;
}

.goForward:hover:before {
  opacity: 1;
}

.goForward:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.entry {
  white-space: pre-line;
}

.entry input,
select {
  font-size: 3.2vw;
}

.entry label {
  font-size: 3vw;
}
