div.logo img {
  display: flex;
  width: 70%;
}

.logoutIcon {
  position: absolute;
  top: 2%;
  right: 1%;
  height: 5%;
}

.userIcon {
  display: flex;
  position: absolute;
  top: 2%;
  right: 8%;
  height: 5%;
  transition: all 0.25s ease-out;
  filter: invert(0%);
}

.userpopup {
  width: 6vw;
  height: 12vh;
  border-radius: 5px;
  background: #5a5c5f;
  left: 90.8vw;
  top: 7vh;
  z-index: 1000;
  position: fixed;
  transition: all 0.25s ease-out;
  visibility: hidden;
  border: 1px solid white;
  opacity: 0;
  box-shadow: 0 0 2px white;
}
.userpopup:target {
  visibility: visible;
  opacity: 0.9;
}
.userpopupicon {
  margin: 0;
  padding: 0;
  margin-left: calc(50% - 25px);
  position: absolute;
}
.closeuserpopup {
  display: flex;
  position: fixed;
  filter: invert(0);
  top: 2%;
  right: 8%;
  height: 5%;
  transition: all 0.25s ease-out;
  filter: invert(0%);
}
.deleteuser {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
  position: absolute;
  left: 0;
  top: 0;
}
.deleteuser:target {
  visibility: visible;
  opacity: 0.8;
}
.deleteuserbox {
  background-color: #eeeeee;
  width: 40vw;
  height: 10vh;
  margin: auto;
  margin-top: 40vh;
}
#deleteusertext {
  color: #333333;
  margin: 0;
}
#deleteuserbuttons {
  width: 40vw;
  height: 10vh;
}
#deleteuserbuttonyes {
  width: 20%;
  margin-left: 10%;
  margin-top: 3%;
}
#deleteuserbuttonno {
  width: 20%;
  margin-left: 35%;
  margin-top: 0;
  margin-top: 3%;
}
switch {
  display: flex;
  float: left;
  display: inline;
  width: 49%;
}

div.viewToggle {
  display: flex;
  position: absolute;
  left: 20%;
}

div.viewToggle * {
  float: left;
  display: inline;
}

div.timeToggle {
  position: absolute;
  top: 3%;
  right: 20%;
  width: 20%;
}

div.timeToggle * {
  display: inline;
}

div.logo {
  float: left;
  display: inline;
  width: 20%;
}

/*Dropdown zu "Meine Kalender"*/
.dropbtn {
  border-radius: 50px;
  margin-top: 20%;
}

.dropdown {
  width: min-content;
}

#dropdown-content {
  display: none;
}

button.dropbtn {
  white-space: nowrap;
}

.mycalendars {
  border: none;
}
/*
div.dropdown-content {
  display: none;
  color: white;
}

.dropdown-entry * {
  display: inline;
  margin-bottom: 20%;
}

div.dropdown:hover div.dropdown-content {
  display: inline;
}*/

/*Suchfeld*/
.search p {
  display: flex;
}

.search input {
  display: flex;
  border: solid black 1px;
  border-radius: 50px;
  max-width: 10vw;
}

.add a {
  display: flex;
  margin-left: 0, 5%;
}

iframe.calendarView {
  width: 82%;
  height: 85%;
  position: absolute;
  top: 9%;
  left: 15%;
  border: 0px transparent;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 3.4vw;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.6vw;
  width: 2.6vw;
  left: 0.4vw;
  bottom: 0.4vw;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f7bfbf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f7bfbf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6vw);
  -ms-transform: translateX(2.6vw);
  transform: translateX(2.6vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4vw;
}

.slider.round:before {
  border-radius: 50%;
}

/*crazy rgb buttons*/
.goback {
  width: 60px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.goback:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.goback:active {
  color: rgb(255, 253, 253);
}

.goback:active:after {
  background: transparent;
}

.goback:hover:before {
  opacity: 1;
}

.goback:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.goForward {
  width: 60px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.goForward:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.goForward:active {
  color: rgb(255, 253, 253);
}

.goForward:active:after {
  background: transparent;
}

.goForward:hover:before {
  opacity: 1;
}

.goForward:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.entry {
  white-space: pre-line;
}

.entry input,
select {
  font-size: 3.2vw;
}

.entry label {
  font-size: 3vw;
}
